.card {
  width: 25%;
  height: 250px;
  margin: 50px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.mt-20 {
  margin-top: 20px;
}

.dark {
    background-color:black;
    color: white;
  }
  .light {
    background-color:white;
    color: black;
  }